*~
*.swp
*.pyc
*.log
.coverage
.venv
.tox
cover/
oslo.policy.egg-info/
build/
dist/
doc/source/api
AUTHORS
.update-venv/
ChangeLog
openstack/versioninfo
*.egg*
.testrepository/
.project
.pydevproject
*.mo
doc/build

# reno build
releasenotes/build
